<app-navbar></app-navbar>
<main>
    <section class="principal">
        <a href="" class="video-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
        <a href="" class="foto-post">
            <img src="https://github.com/vitorcelio.png" alt="">
        </a>
    </section>
</main>