<div class="storys">
    <div class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <i class="bi bi-plus-circle-fill add-publicacao"></i>
        <p>Seu story</p>
    </div>
    <a [routerLink]="['/stories/vitorcelio']" class="story">
        <div class="img-story story-melhores-amigos">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
    <div class="story">
        <div class="img-story story-normal">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </div>
    <a class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
    <a class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
    <a class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
    <a class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
    <a class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
    <a class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
    <a class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
    <a class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
    <a class="story">
        <div class="img-story">
            <img src="https://github.com/vitorcelio.png" alt="story do vitucelio" width="63">
        </div>
        <p>vitucelio</p>
    </a>
</div>
<div class="botoes-scroll">
    <button  id="esquerdo" (click)="scroll(-300)">
        <i class="bi bi-arrow-left-circle-fill"></i>
    </button>
    <button id="direito" (click)="scroll(300)">
        <i class="bi bi-arrow-right-circle-fill"></i>
    </button>
</div>