<app-navbar></app-navbar>
<main>
    <section class="principal">
        <div class="posts-storys">
            <app-storys-list></app-storys-list>
            <app-posts></app-posts>
        </div>
        <div class="sugestoes">
            <div class="sugestao-fixa">
                <div class="sugestoes-perfil">
                    <div>
                        <img src="https://github.com/vitorcelio.png" width="60" alt="">
                        <div>
                            <p>vitucelio</p>
                            <p>Vítor Célio</p>
                        </div>
                    </div>
                    <a href="">Mudar</a>
                </div>
                <div class="sugestoes-seguir">
                    <div>
                        <p>Sugestões para você</p>
                        <a href="">Ver tudo</a>
                    </div>
                    <div>
                        <div>
                            <div>
                                <img src="https://github.com/vitorcelio.png" width="35" alt="">
                                <div>
                                    <p>ilaysa_gomes</p>
                                    <p>Seguido por marciachristinaa e +5</p>
                                </div>
                            </div>
                            <button>Seguir</button>
                        </div>
                        <div>
                            <div>
                                <img src="https://github.com/vitorcelio.png" width="35" alt="">
                                <div>
                                    <p>ilaysa_gomes</p>
                                    <p>Seguido por marciachristinaa e +5</p>
                                </div>
                            </div>
                            <button>Seguir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>