<div class="header-notifications" [hidden]="header">
    <h1>Atividade</h1>
</div>
<div>
    <div class="notificacao-semana">
        <p>Hoje</p>
        <div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>começou a seguir você.</span>
                        <span>22h</span>
                    </p>
                </div>
                <button class="seguir">Seguir</button>
            </div>
        </div>
    </div>
    <div class="notificacao-semana">
        <p>Semana passada</p>
        <div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>mencionou você em um comentário: te liga aí, mano, aprende teu java
                            logo</span>
                        <span>3 d</span>
                    </p>
                </div>
                <div>
                    <img src="https://github.com/vitorcelio.png" alt="" width="60">
                </div>
            </div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>curtiu o seu comentário: Melhor linguagem é Java!</span>
                        <span>5 d</span>
                    </p>
                </div>
                <div>
                    <img src="https://github.com/vitorcelio.png" alt="" width="60">
                </div>
            </div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>começou a seguir você.</span>
                        <span>1 sem</span>
                    </p>
                </div>
                <button class="seguir">Seguir</button>
            </div>
        </div>
    </div>
    <div class="notificacao-semana">
        <p>Semana passada</p>
        <div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>mencionou você em um comentário: te liga aí, mano, aprende teu java
                            logo</span>
                        <span>3 d</span>
                    </p>
                </div>
                <div>
                    <img src="https://github.com/vitorcelio.png" alt="" width="60">
                </div>
            </div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>curtiu o seu comentário: Melhor linguagem é Java!</span>
                        <span>5 d</span>
                    </p>
                </div>
                <div>
                    <img src="https://github.com/vitorcelio.png" alt="" width="60">
                </div>
            </div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>começou a seguir você.</span>
                        <span>1 sem</span>
                    </p>
                </div>
                <button class="seguir">Seguir</button>
            </div>
        </div>
    </div>
    <div class="notificacao-semana">
        <p>Semana passada</p>
        <div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>mencionou você em um comentário: te liga aí, mano, aprende teu java
                            logo</span>
                        <span>3 d</span>
                    </p>
                </div>
                <div>
                    <img src="https://github.com/vitorcelio.png" alt="" width="60">
                </div>
            </div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>curtiu o seu comentário: Melhor linguagem é Java!</span>
                        <span>5 d</span>
                    </p>
                </div>
                <div>
                    <img src="https://github.com/vitorcelio.png" alt="" width="60">
                </div>
            </div>
            <div class="notificacao">
                <div>
                    <img class="img-notificacao story-normal"
                        src="https://github.com/vitorcelio.png" alt="" width="50">
                    <p>
                        <span>vitucelio</span>
                        <span>começou a seguir você.</span>
                        <span>1 sem</span>
                    </p>
                </div>
                <button class="seguir">Seguir</button>
            </div>
        </div>
    </div>
</div>